<html>
    <head>

        <link rel="icon" href="/img/weather.png">
        <title>404</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/javascript/script.js"></script>
    </head>
    <body><div class="main-content">
        {{>header}}
        </div>
        
        <p>{{message}}</p>
        
        {{>footer}}
    </body>
</html>